@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* colors */
  --color-*: initial;
  --color-primary: #b00005;
  --color-subscription: #faec70;
  --color-white: #fff;
  --color-black: #0a0a0a;
  --color-neutral-high-contrast: #212121;
  --color-neutral-micro-contrast: #f4f4f4;
  --color-neutral-low-contrast: #cecece;

  /* spacing */
  --spacing: 0.25rem;

  /* Container */
  --container-card: 18.75rem;
  --container-layout: 60rem;

  /* Radius */
  --radius-xl: 0.625rem;
  --radius-5xl: 2.5rem;

  /* fonts */
  --font-meriweather: var(--font-meriweather);
}

body {
  font-family: var(--font-source-sans-pro);
  background: var(--color-white);
  color: var(--color-black);
}
